@import "plyr.package";
//plyr.package will be auto added by .maintenance/setup.sh

.tinecthlsvideo {
    display: flex;
    flex-direction: column;

    .plyr__poster {
        background-size: 100% auto;
    }
}

.tinecthlsvideo-wrapper {
    width: 100%;
}
