{% block sw_cms_element_tinecthlsvideo_preview %}
    <div class="sw-cms-el-preview-tinecthlsvideo">
        <img :src="'/tinectcmshlsvideoplayer/static/img/cms/preview_hls.jpg' | asset">
    </div>
{% endblock %}
