{% block sw_cms_block_tinecthlsvideo %}
    <div class="sw-cms-block-tinecthlsvideo">
        <slot name="content">
            {% block sw_cms_block_tinecthlsvideo_slot %}{% endblock %}
        </slot>
    </div>
{% endblock %}
